<li id="attachment_<%= attachment.id %>" class="attachment clearfix">
    <%= hidden_field_tag "page[attachments_attributes][#{attachment_counter}][id]", attachment.id %>
    <%= hidden_field_tag "page[attachments_attributes][#{attachment_counter}][_destroy]", "0" %>
    <%= hidden_field_tag "page[attachments_attributes][#{attachment_counter}][position]", attachment.position %>
    <% unless attachment.first? && attachment.last? %>
    <%= image_tag 'admin/drag_order.png', :alt => "Drag handle", :title => "Drag to change order", :class => 'drag_order' %>
    <% end %>
    <div>
        <%= image_tag "admin/minus.png", :alt => "Delete", :class => 'delete' %>
    </div>
    <% unless attachment.thumbnails.empty? %>
    <%= link_to image_tag(attachment.public_filename("icon")),  attachment.public_filename, :class => 'thumbnail' %>
    <% end %>
    <% unless attachment.title.blank? %>
    <p>
        <%= h attachment.title %>
    </p>
    <% end %>
    <%= link_to attachment.filename, edit_admin_page_attachment_path(attachment) %>
    <%= link_to '(view)', attachment.public_filename, :target => "_blank" %>
</li>
